$color--heading: #191a1c;
$color--text: #606064;
$color--link: #165c9e;
$color--primary-lightest: #fff8f7;
$color--primary-light: #f8e5e3;
$color--primary: #d84b38;
$color--primary-dark: rgb(30, 29, 28);
$color--secondary: #e79d2f;
$color--secondary: rgb(11, 33, 85);

$color--gray-one: #f2f4f7;
$color--gray-two: #e4e9ef;
$color--gray-three: #8d9297;
$color--gray-four: #535455;
$color--gray-five: #2e3336;
